$break-medium-6: 670px;
$break-medium-7: 400px;

.setup-wrap{
  .setup-block{
    background-color: #ffffff;
    width: 100%;
    padding: 16px 0;
    margin: 20px auto;
    border-radius: 4px;
    .select-block{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .select-block-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        .setup-page-name{
          font-size: 1.6em;
          font-weight: 700;
          #setup-page-name-text{
            margin-left: 5px;
          }
        }
        #additional-text{
          margin-top: 20px;
          font-size: 1.4em;
          font-weight: 600;
        }
      }
      .select-wrapper{
        margin: 10px 0 30px 0;
        .select-block-item-wrap{
          display: flex;
          margin-top: 25px;
          @media screen and (max-width: $break-medium-7) {
            flex-wrap: wrap;
          }
          .setup-field-icon{
            font-size: 16pt;
            padding: 5px;
            color: rgba(177, 177, 177, 0.71);
            margin-left: 5px;
            &:hover{
              color: rgba(122, 122, 122, 0.71);
            }
            @media screen and (max-width: $break-medium-6) {
              padding: 0;
              margin: 16px 0 0 15px;
            }
          }
          .select-label{
            width: 145px;
            text-align: left;
            @media screen and (max-width: $break-medium-6) {
              width: 80px;
            }
            @media screen and (max-width: $break-medium-7) {
              width: 100%;
            }
            .label-text{
              vertical-align: middle;
              @media screen and (max-width: $break-medium-6) {
                vertical-align: top;
              }
            }
          }
          .select-input{
            margin-left: 25px;
            @media screen and (max-width: $break-medium-7) {
              margin-left: 0;
            }
            .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
              &::first-letter{
                text-transform: uppercase;
              }
            }
            .ant-select-selection__rendered{
              &::first-letter{
                text-transform: uppercase;
              }
            }
            .ant-select-selection-selected-value{
              &::first-letter{
                text-transform: uppercase;
              }
            }
          }
          .select-input-selected-color{
            color:#d9d9d9;
          }
          .select-item{
            width: 220px;
            @media screen and (max-width: $break-medium-6) {
              width: 150px;
              margin-top: 12px;
            }
          }
        }
      }
      .save-select-btn{
        margin-left: 15px;
        @media screen and (max-width: $break-medium-6) {
          margin-top: 12px;
          padding: 6px;
        }
      }
    }
  }
}
.setup-options{
  &::first-letter{
    text-transform: uppercase;
  }
}

